<div class="container">
<h1>Make it happen - Request Sponsorship!</h1>
<h4>Browse through our brands and make your request</h4>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Brand</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @brands_requests.each do |brand| %>
    <tr>
      <td><a href="/brands/<%= brand[:id] %>"><%= brand[:name] %></a></td>
      <% if brand[:requests] != nil %>
        <% if brand[:requests][:status] == 0 %>
          <td class="text-warning bg-warning">Open Request</td>
          <td><%= brand[:requests][:special_note] %></td>
        <% else %>
          <td class="text-success bg-success">Existing Sponsor</td>
          <td><%= brand[:requests][:special_note] %></td>
        <% end %>
      <% else %>
          <td colspan="2">
            <form action="/projects/<%= @project.id %>/requests" method="post">
              <input class="btn btn-default" type="submit" value="Make a request">
              <input type="hidden" name="request[brand_id]" value="<%= brand[:id] %>">
              <input type="hidden" name="request[status]" value="0">
              <input type="hidden" name="request[project_id]" value="<%= @project.id %>">
              <input type="text" name="request[special_note]" placeholder="Special Note">
            </form>
      <% end %>
    </tr>
   <% end %>
  </tbody>
</table>
</div>
